[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
personal_week1_challenge = "Hw6nGBoP847VMMc72rs2qHNpceLonev2XKCXFid61qyy"
vault = "G5Tj7cfn4iMt1avMbaRjGgT9jJa5VTVdmJZKZ4ZYzbz7"
whitelist = "cYVydPKgwdiCjyKXF5bY59D677yD7ZZ7uM5Ba7nLrNp"
whitelist_and_hook = "QKZCXvt3Ng1ku19WdFh3aHcN34M6BNS9Pm9DAhnfYBQ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
